.choice
{
    min-height: 249px;
    background: #CFC070 center center/cover no-repeat;
}
.choice_scroll
{
    display: flex;
    flex-wrap: wrap;
}
.choose
{
    position: relative;
    display: flex;
    width: 151px;
    height: 35px;
    background: #FFFFFF;
    margin-top: 90px;

}
.choose_2
{
    position: absolute;
    left: 12px;
    top: 9px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.25px;
    line-height: 17px;

    color: #000000;
}
.arrow_down
{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 9px;
    left: 119px;

    background: url("/src/icons/premium-icon-down-arrow-2985150\ 2.png");
}
.name
{
    position: relative;
    display: flex;
    margin-left: 67px;
    width: 151px;
    height: 35px;
    background:#FFFFFF;
    margin-top: 90px;
}
.name_2
{
    position: absolute;
    left: 12px;
    top: 9px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.25px;
    line-height: 17px;

    color: #000000;
}
.telephone
{
    position: relative;
    display: flex;
    margin-left: 130px;
    width: 151px;
    height: 35px;
    background:#FFFFFF;
    margin-top: 90px;
}
.telephone_2
{
    position: absolute;
    left: 12px;
    top: 9px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.25px;
    line-height: 17px;

    color: #000000;
}
.date 
{
    position: relative;
    display: flex;
    margin-left: 195px;
    width: 151px;
    height: 35px;
    background:#FFFFFF;
    margin-top: 90px;
}
.date_2
{
    position: absolute;
    left: 12px;
    top: 9px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.25px;
    line-height: 17px;

    color: #000000;
}
.book
{
    box-sizing: border-box;
    position: relative;
    width: 206px;
    height: 44px;

    margin-top: 37px;
    margin-left: 452px;
    border: 1px solid #000000;
    border-radius: 75px;
    cursor: pointer;
}
.book_2
{
    position: absolute;
    width: 91px;
    height: 20px;
    left: 55px;
    top: 12px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16.7647px;
    line-height: 20px;

    color: #000000;
}