.down
{
   
    min-height: 111px;
    background: #252525 center center/cover no-repeat;
}
.down_menu
{
   display: block;
   position: relative;
    
}

.down_logo
{
    position: absolute;
    width: 159.7px;
    height: 49px;
    top: 31px;

    font-family: 'Doppio One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21.7778px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.copiraiting
{
    position: absolute;
    width: 39px;
    height: 37.05px;
    left: 1230px;
    top: 37px;

}
.year
{   
    position: absolute;
    width: 55px;
    height: 31px;
    left: 1269px;
    top: 40px;

    font-family: 'Doppio One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25.0041px;
    line-height: 31px;
    text-align: center;

    color: #FFFFFF;    
}